body {
	min-height: 100vh;
	min-height: -webkit-fill-available;
}

html {
	height: -webkit-fill-available;
}


/* buttons control folders */
.open-folder,
.close-folder {
	border-radius: 5px;
}


.card-body {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0%;
    padding: 0%;
}


/* folder tree */
.folder-in-tree {
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}
  
.folder-in-tree::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 2px;
}
  
.folder-in-tree-down::before {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);  
}

.nested {
    display: none;
}

.active {
    display: block;
}

li {
    font-size: small;
    padding-right: 0px;
}

.py_file:hover {
    background-color: #bfbebedd;
    cursor: pointer;
}

ul {
    list-style-position: outside;
    padding-right: 0px;
    margin: 0px;
}

/* for show codes */
.code-line, .code-content {
    margin: 0%;
}

.code-content, .line-number {
    display:inline-flex;
}

.code-content {
    /* border-left: 2px solid red; */
    height: 100%;
    display:inline-flex;
    margin: 0%;
    padding: 0%;
}

.line-number {
    width: 2vw;
    background-color: #a6a3a3dd;
}